// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hwb(37 79% 0%),
    200: hwb(37 69% 31%),
    300: hwb(37 50% 0%),
    400: hwb(37 48% 52%),
    500: hwb(37 48% 52%),
  ),
  secondary: (
    100: hwb(37 0% 0%),
    200: hwb(37 63% 37%),
    300: hwb(37 57% 43%),
    400: hwb(37 47% 53%),
    500: hwb(37 30% 70%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
