---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import CallToAction from '../components/CallToAction.astro'
import Searchbar from '../components/Searchbar.astro'
import ListFeatures from '../components/ListFeatures.astro'
---

<DefaultLayout title="Home">
  <section class="my-16">
    <section>
      <Searchbar />
    </section>
    <div class="container">
        <ListFeatures />
    </div>
  </section>
  <br>
  <section>
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">Numeros</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-2">
        <Counter count="130" title="Establecimientos" sub="Fisicos" />
        <Counter count="1700" title="Sitios" sub="En internet" />
      </div>
    </div>
  </section>
  <section>
    <CallToAction />
  </section>
  <section>
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">Mapa</h2>
      <div class="flex justify-center">
        <iframe src="https://www.google.com/maps/d/embed?mid=1R0HYkxXv6UBOJzg-j9NhnnsnjnCfFF4&ehbc=2E312F" width="640" height="480"></iframe>
      </div>
    </div>
  </section>
</DefaultLayout>
