---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import CallToAction from '../components/CallToAction.astro'
import Searchbar from '../components/Searchbar.astro'
---

<DefaultLayout title="Home">
  <section class="my-16">
    <section>
      <Searchbar />
    </section>
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:pizza" title="Pixza" site_link="https://www.pixza.mx">
          una pizzería diferente a cualquier otra que hayas conocido. Además de un menú enfocado en ingredientes mexicanos, tienen la misión de emplear a personas en abandono social y promover la prosperidad a través de la fortaleza de la comunidad.
        </Feature>
        <Feature icon="mdi:theater" title="Cine Tonala" site_link="https://www.cinetonala.mx/">
          Cine Tonalá es un cine independiente con una impresionante variedad de películas. Además de la decoración vintage, el espacio cuenta con un restaurante que sirve comida para todas las horas del día.
        </Feature>
        <Feature icon="mdi:thought-bubble-outline" title="Fantastico Comics Store">
          Si te gustan los cómics, Fantástico Comics te fascinará. Con 5 sucursales en todo México, es la tienda más grande de su tipo en América Latina.
        </Feature>
        <Feature icon="mdi:shoe-sneaker" title="Fama Sport (Querétaro)">
          ¿Te encantan las zapatillas deportivas pero nunca encuentras el par perfecto para ti? La tienda Fama Sport, ubicada en Querétaro, ofrece productos de calidad a excelentes precios durante todo el año. Además de tarjetas de débito y crédito, también aceptan Bitcoin.
        </Feature>
        <Feature icon="mdi:coffee" title="The Coffee York (Puebla)">
          ¿Necesitas un empujón para continuar con tus actividades del día? Tomar un café en The Coffee York puede ser una excelente opción para cuando estés en Puebla. Allí podrás disfrutar de tu bebida y pagar con criptomonedas; todo muy sencillo y práctico.
        </Feature>
        <Feature icon="mdi:mall" title="Elektra (todo Mexico)" site_link="https://www.elektra.mx/">
          El tio Richie te acepta tus bitcoins en todas sus tiendas Elektra, no importa si estas en la CDMX o en la playa.
        </Feature>
      </div>
    </div>
  </section>
  <br>
  <section>
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">Numeros</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-2">
        <Counter count="130" title="Establecimientos" sub="Fisicos" />
        <Counter count="1700" title="Sitios" sub="En internet" />
      </div>
    </div>
  </section>
  <section>
    <CallToAction />
  </section>
  <section>
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">Mapa</h2>
      <div class="flex justify-center">
        <iframe src="https://www.google.com/maps/d/embed?mid=1R0HYkxXv6UBOJzg-j9NhnnsnjnCfFF4&ehbc=2E312F" width="640" height="480"></iframe>
      </div>
    </div>
  </section>
</DefaultLayout>
