<div class="container">
    <div class="mb-16 text-6xl text-center">
        <div class="text-input mb-16 text-3xl text-center">
            <input type="text" value="Buscar sitios que aceptan Bitcoin..." class="text-input" />
        </div>
    </div>
</div>

<style lang="scss">
.text-input {
    padding: 0.5rem;
    color: var(--neutral-700);
    background-color: var(--1000);
    font-family: 'Open Sans', sans-serif;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  }
</style>
  