---
import TextInput from "../scripts/textInput";
---

<div class="container">
    <div class="text-input mb-16 text-3xl text-center">
        <TextInput client:load />
    </div>
</div>

<style lang="scss">
    .text-input {
        padding: 0.5rem;
        color: var(--neutral-700);
        background-color: var(--1000);
        font-family: 'Open Sans', sans-serif;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      }
    .input {
        padding: 0.5rem;
        color: var(--neutral-700);
        background-color: var(--1000);
        font-family: 'Open Sans', sans-serif;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      }
</style>